<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Send Notification</h4>
        </div>
        <div class="modal-body">
            <form data-request="onSendNotification" data-request-error="$(this).closest('.control-popup').addClass('in').popup('setLoading', false).popup('setShake');$.oc.flashMsg({'class': 'error', text: jqXHR.responseText});return false;" data-request-success="$('[data-dismiss=modal]').trigger({ type: 'click' });" data-request-data="user_id: <?= $this->params[0] ?>" class="form-elements" role="form" id="form1">
                <div class="form-group text-field span-full size-large is-required">
                    <label>Message</label>
                    <textarea name="notification_message" class="form-control"></textarea>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" form="form1" class="btn btn-primary">Send</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
    </div>
</div>